@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <p>Выберите действие:</p>

    <a href="@Url.Action("Index", "Weather")" class="btn btn-success m-2">
       Просмотр данных
    </a>

    <a href="@Url.Action("UploadFiles", "WeatherImport")" class="btn btn-primary m-2">
        Импорт данных
    </a>
</div>
